#advert {
	padding: 1rem 1rem 2rem 1rem;
	
	.message-body {
		display: flex;
		flex-direction: row;

		a {
			height: 3rem;

			&:not(:last-child) {
				margin-right: 1rem;
			}

			img {
				display: block;
				height: 100%;
				width: auto;
			}
		}
	}

	@media screen and (min-width: 1408px) {
		padding: 3rem 2rem 0 2rem;
		position: relative;
		left: 16vw;
		width: 100vw - 16vw;
	}
}
