@import "bulma/css/bulma.min.css";
@import "bulma-prefers-dark/css/bulma-prefers-dark.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "spinkit/spinkit.min.css";

@media screen and (min-width: 1408px) {
}

@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1920px) {
}

@media screen and (min-width: 2400px) {
	html {
		font-size: 19px;
	}
}

@media screen and (min-width: 2880px) {
	html {
		font-size: 22px;
	}
}

@media screen and (min-width: 3360px) {
	html {
		font-size: 25px;
	}
}

@media screen and (min-width: 3840px) {
	html {
		font-size: 28px;
	}
}
