@import "bulma/css/bulma.min.css";
@import "bulma-prefers-dark/css/bulma-prefers-dark.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

$prefered-bg-color: white !default;
$prefered-bg-alt-color: whitesmoke !default;

.cm-hero {
	background: url("https://albionsquare.nyc3.cdn.digitaloceanspaces.com/media/sun-tornado.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.cm-section-bg {
	&:nth-child(even) {
		background-color: $prefered-bg-color;
	}
	&:nth-child(odd) {
		background-color: $prefered-bg-alt-color;
	}
}

.navbar-burger {
	span {
		color: whitesmoke;
	}
}

.navbar-item img {
	max-height: unset;
	height: 5rem;
}

@media screen and (min-width: 769px) {
	.cm-section-layout {
		&:nth-child(odd) {
			.columns {
				flex-direction: row-reverse;
			}
		}
		&:nth-child(even) {
			.columns {
				flex-direction: row;
			}
		}
	}
}

@media screen and (prefers-color-scheme: dark) {
	$prefered-bg-color: #17181c;
	$prefered-bg-alt-color: #0f1011;

	.cm-section-bg {
		&:nth-child(even) {
			background-color: $prefered-bg-color;
		}
		&:nth-child(odd) {
			background-color: $prefered-bg-alt-color;
		}
	}
}
